body{
  background-color: #262626;
  overflow: hidden
}
@font-face {
  font-family: 'HACKED';
  src: url('/fonts/HACKED.eot');
  src: url('/fonts/HACKED.eot?#iefix') format('embedded-opentype'),
      url('/fonts/HACKED.woff2') format('woff2'),
      url('/fonts/HACKED.woff') format('woff'),
      url('/fonts/HACKED.ttf') format('truetype'),
      url('/fonts/HACKED.svg#HACKED') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.result{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  font-weight: bolder;
  color: white;
  letter-spacing: 2px;
  border: solid 2px grey;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #000000ab;
  box-shadow: 13px 12px 20px #36243a;
}
#close{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  background: #36243a;
  box-shadow: -14px 15px 16px 4px black;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#link{
  font-size: xxx-large;
    font-weight: bolder;
    letter-spacing: 6px;
    color: white;
    font-family: monospace;
    text-decoration: unset;
}
.shorten{
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.shorten h1{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: 'HACKED';
  font-weight: bolder;
  font-style: normal;
  font-size: 70px;
  letter-spacing: 10px;
  text-shadow: 5px 5px #36243a;
  padding-bottom: 16px;
  color: black;
}
.shorten .urls{
  border-bottom: solid 4px #36243a;
  background: unset;
  text-align: center;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  width: 850px;
  color: white;
  font-weight: bold;
  font-size: large;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-bottom: 80px;
  transition: box-shadow 0.2s ease-in-out;
}
.shorten .urls:focus{
  box-shadow: 13px 12px 20px #36243a;
  outline: unset;
}
.shorten button{
  border: unset;
  border-radius: unset;
  background: #36243a;
  font-size: 20px;
  font-weight: bolder;
  padding: 2px 30px;
  float: right;
  color: #0a0a0a;
  outline: unset;
  transition: box-shadow 0.2s ease-in-out;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.shorten button:hover{
  box-shadow: 13px 12px 20px black;
  color: black;
}
#otu{
  float: left;
  font-weight: bolder;
  font-size: 20px;
  color: #0a0a0a;
  transition: text-shadow 0.2s ease-in-out;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#otu{
  text-shadow: 6px 6px 6px #36243a;
}
#cb{
  visibility: hidden;
}
.sidenav .shout{
  position: absolute;
  bottom: 120px;
  right: 50%;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  white-space: nowrap;
  transform: translate(50%, 0);
}
.sidenav .shout a{
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: unset;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  text-shadow: 6px 6px 6px #36243a;
  font-weight: bolder;
}

.sidenav a:hover {
  text-shadow: rgb(0, 255, 8) 6px 6px 6px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.soon{
  position: absolute;
  left: 0;
  transform: rotate(-90deg);
  width: 402px;
  font-size: xxx-large;
  z-index: 10;
  color: white;
}


.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: .5em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: 'URLs.CL';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #36243a;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: 'URLs.CL';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00ff08, 2px 2px #36243a;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(17px, 9999px, 36px, 0);
    transform: skew(0.09deg);
  }
  5% {
    clip: rect(35px, 9999px, 68px, 0);
    transform: skew(0.69deg);
  }
  10% {
    clip: rect(77px, 9999px, 21px, 0);
    transform: skew(0.49deg);
  }
  15% {
    clip: rect(89px, 9999px, 43px, 0);
    transform: skew(0.42deg);
  }
  20% {
    clip: rect(55px, 9999px, 32px, 0);
    transform: skew(0.01deg);
  }
  25% {
    clip: rect(23px, 9999px, 32px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(47px, 9999px, 96px, 0);
    transform: skew(0.09deg);
  }
  35% {
    clip: rect(52px, 9999px, 29px, 0);
    transform: skew(0.72deg);
  }
  40% {
    clip: rect(67px, 9999px, 11px, 0);
    transform: skew(0.06deg);
  }
  45% {
    clip: rect(1px, 9999px, 81px, 0);
    transform: skew(0.46deg);
  }
  50% {
    clip: rect(83px, 9999px, 7px, 0);
    transform: skew(0.74deg);
  }
  55% {
    clip: rect(38px, 9999px, 52px, 0);
    transform: skew(0.76deg);
  }
  60% {
    clip: rect(62px, 9999px, 97px, 0);
    transform: skew(0.24deg);
  }
  65% {
    clip: rect(28px, 9999px, 27px, 0);
    transform: skew(0.45deg);
  }
  70% {
    clip: rect(19px, 9999px, 18px, 0);
    transform: skew(0.31deg);
  }
  75% {
    clip: rect(62px, 9999px, 13px, 0);
    transform: skew(0.57deg);
  }
  80% {
    clip: rect(40px, 9999px, 93px, 0);
    transform: skew(0.53deg);
  }
  85% {
    clip: rect(16px, 9999px, 69px, 0);
    transform: skew(0.26deg);
  }
  90% {
    clip: rect(62px, 9999px, 32px, 0);
    transform: skew(0.12deg);
  }
  95% {
    clip: rect(72px, 9999px, 64px, 0);
    transform: skew(0.4deg);
  }
  100% {
    clip: rect(8px, 9999px, 59px, 0);
    transform: skew(0.87deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(84px, 9999px, 74px, 0);
    transform: skew(0.23deg);
  }
  5% {
    clip: rect(54px, 9999px, 18px, 0);
    transform: skew(0.59deg);
  }
  10% {
    clip: rect(24px, 9999px, 89px, 0);
    transform: skew(0.87deg);
  }
  15% {
    clip: rect(58px, 9999px, 36px, 0);
    transform: skew(0.82deg);
  }
  20% {
    clip: rect(11px, 9999px, 37px, 0);
    transform: skew(0.03deg);
  }
  25% {
    clip: rect(5px, 9999px, 94px, 0);
    transform: skew(0.72deg);
  }
  30% {
    clip: rect(34px, 9999px, 25px, 0);
    transform: skew(0.38deg);
  }
  35% {
    clip: rect(45px, 9999px, 15px, 0);
    transform: skew(0.66deg);
  }
  40% {
    clip: rect(38px, 9999px, 48px, 0);
    transform: skew(0.69deg);
  }
  45% {
    clip: rect(54px, 9999px, 26px, 0);
    transform: skew(0.39deg);
  }
  50% {
    clip: rect(72px, 9999px, 50px, 0);
    transform: skew(0.19deg);
  }
  55% {
    clip: rect(37px, 9999px, 60px, 0);
    transform: skew(0.78deg);
  }
  60% {
    clip: rect(55px, 9999px, 89px, 0);
    transform: skew(0.69deg);
  }
  65% {
    clip: rect(74px, 9999px, 84px, 0);
    transform: skew(0.7deg);
  }
  70% {
    clip: rect(6px, 9999px, 84px, 0);
    transform: skew(0.26deg);
  }
  75% {
    clip: rect(17px, 9999px, 66px, 0);
    transform: skew(0.99deg);
  }
  80% {
    clip: rect(54px, 9999px, 40px, 0);
    transform: skew(0.2deg);
  }
  85% {
    clip: rect(82px, 9999px, 62px, 0);
    transform: skew(0.4deg);
  }
  90% {
    clip: rect(61px, 9999px, 28px, 0);
    transform: skew(0.67deg);
  }
  95% {
    clip: rect(39px, 9999px, 77px, 0);
    transform: skew(0.32deg);
  }
  100% {
    clip: rect(21px, 9999px, 78px, 0);
    transform: skew(0.76deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-3deg);
  }
  30% {
    transform: skew(4deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(-3deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(-3deg);
  }
}


